@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
    font-family: 'Architects Daughter', cursive;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%234706ae' fill-opacity='0.2'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#container {
    height: 525px;
    width: 360px;
    margin: 100px auto;
    background: whitesmoke;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

h1 {
    background: #1F030C;
    color: white;
    margin: 0;
    padding: 10px 100px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

p {
    padding-left: 20px;
}

form input[type="text"] {
    width: 90px;
}

input {
    padding-left: 20px;
}

#billamt {
    font-size: 14px;
    color: red;
    background-color: #f7f7f7;
    width: 60%;
    padding: 5px 5px 8px 8px;
}

#billamt:focus {
    background: #fff;
    border: 3px solid #2980b9;
    outline: none;
}

#peopleamt {
    width: 60%;
    padding: 5px 5px 8px 8px;
    margin-left: 15px;
    color: red;
    background-color: #f7f7f7;
    font-size: 14px;
}

#serviceQual {
    padding: 13px 15px;
    margin-left: 20px;
    font-size: 15px;
}

button {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: normal;
    display: block;
    margin: 30px auto;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 0.5rem 1.8rem;
    font-size: 1.2rem;
    color: whitesmoke;
    box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
}

button:hover {
    filter: sepia();
}

button:active {
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

#totalTip:before {
    content: "Tip amount";
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    margin-left: 10px;
}

#totalTip sup {
    font-size: 20px;
    top: -18px;
    margin-left: 20px;
}

#totalTip small {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-left: 20px;
}

/* Media Query: Galaxy S5 */

@Media screen and (max-width: 600px) {
    #container {
        margin: 50px -8px;
    }
}